* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

html, body {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  color: 14px;
}

h1, h2, h3, h4, h5, h6, legend {
  font-size: 1.428em;
}

input {
  font-size: inherit;
}
