.boxStudent {
  background-color: #9B59B6;
  color: #FFF;
  padding-top: 1.428em;
  padding-bottom: 1.428em;
}
.boxStudent-title {
  font-weight: normal;
  text-align: center;
  margin-bottom: .8em;
}
